@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*font-family: "Lato", serif;*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
body{
    background-color: #C5CBDB;
    font-family:  "Lato", serif;;
}
/*para todos los header*/
.menuLines{
    display: none;
}
header{
    position: sticky;
    z-index: 15;
    width: 100%;
}
.navbar{
    background-color: #574964;
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow-y: hidden;
}
a{
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 20px;
    margin-right: 30px;
}
li{
    list-style: none;
}
.navbar img{
    width: 176px;
    height: 63px;
}
/*para cosas generales*/
h1{
    font-size: 4rem;
    color: #7B6674;
    width: 450px;
    margin: 20px;
}
h2{
    color: #7B6674;
    font-size: 2rem;
    text-align: center;
    font-weight: 500;
}
h3{
    color: #7B6674;
    font-size: 1.4rem;
}
h4{
    font-weight: 800;
    color: #7B6674;
    font-size: 1.2rem;
}
span{
    font-weight: bolder;
}
hr{
    border: 1px solid #7B6674;
}
/*para todos los footers*/
footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin: 30px 0px;
}
.lineaFooter{
    height: 334.01px;
}
footer p{
    color: #7B6674;
    font-size: 1rem;
}
.inputFooterUno{
    width: 415px;
    height: 50px;
    font-family: "Lato", serif;
    font-size: 20px;
    background-color: #FFFBE1;
    border: none;
}
.inputFooterDos{
    width: 145px;
    height: 50px;
    border: none;
    font-size: 1.25rem;
    font-family: "Lato", serif;
    color: #FFFFFF;
    background-color: #7B6674;
}
.sectionFooter{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: auto;
    margin-right: auto;
}
.imgFooter img{
    width: 130px;
}
/*Index section 1*/
.articleUno{
    background-color: rgba(255, 255, 255, 0.527);
    width: 673.06px;
    height: 500px;
    max-height: 100%;
    align-content: center;
}
.alfajorHidden{
    display: none;
}
.sectionIndexUno{
    background-image: url(../assets/vista-desktop/pag-principal/fondo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.botonIndex{
    background-color: #DED3CD;
    color: #7B6674;
    border: none;
    border-radius: 49px;
    padding: 30px 80px 30px 80px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 5px 10px 15px #86707E;
}
/*Index section 2*/
.sectionDos {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
.galeria{
    display: flex;
    gap: 5%;
}
.imgGaleria1, .imgGaleria2{
    width: 30%;
    height: 30%;

}
.lineaIndex{
    width: 441.68px;
    border: 0.3px solid #7B6674;
}
/*Index section 3 */
aside{
    background-image: url(../assets/vista-desktop/pag-principal/fondo-reseñasf.png);
    min-height: 690px; 
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: center;
}
aside h2{
    color: #DED3CD  ;
    font-weight: 600;
    font-size: 2.4rem;
}
aside .botonIndex{
    background-color: #DED3CD;
    color: #574964;
    border-radius: 15px;
    font-size: 1.5rem;
    width: 41.875rem;
}
.reseñas{
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}
.cadaReseña{
    background-color: #FFFBE1;
    width: 372px;
    height: 400px;
    justify-items: center;
    padding-top: 30px;
}
.cadaReseña p{
    font-size: .8375rem;
    width: 300px;
    text-align: center;
    margin: 30px;
}
.cadaReseña img{
    border-radius: 47px;
    width: 106px;
    height: 103px;
}
/*Section Sobre Nosotros 1*/
.sectionNosotrosUno{
    display: grid;
    grid-template-columns: repeat(8, 180px);
    grid-template-rows: repeat(8, 80px);
    justify-items: center;
    justify-content: center;
}
.sectionNosotrosUno h2{
    font-weight: 600;
    font-size: 3rem;
    grid-column: 2/5;
    grid-row: 2/4;
    align-self: center;
    color: #9F8383;
}
.sectionNosotrosUno p{
    font-size: 1rem;
    text-align: justify;
    width: 31.25rem;
    grid-column: 2/5;
    grid-row: 4/6;
    align-self: center;
}
.sectionNosotrosUno img{
    max-width: 31.25rem;
    min-width: 16.25rem;
    height: 34.375rem;
    grid-column: 5/8;
    grid-row: 1/5;
    object-fit: cover;
}
/*Section Sobre Nosotros 2*/
.sectionNosotrosDos{
    background-image: url(../assets/vista-desktop/pag-sobrenosotros/fondo.png);
    background-color: #574964;
    height: 36.5rem;
    display: grid;
    place-content: center;
}
.fondoNosotros{
    background-color: #C5CBDB;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 1157px;
    height: 414px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
    text-align: center;
    display: grid;
    place-content: center;
}
.imagen1Left{
    width: 260px;
    height: 190px;
    position: absolute;
    left: -6%;
    top: 51rem;
    z-index: 10;
}
.imagen2Right{
    width: 299px;
    height: 155px;
    position: absolute;
    right: -8%;
    bottom: -40rem;
}
.imagen3Right{
    width: 272px;
    height: 140px;
    position: absolute;
    right: -8%;
    bottom: -33.6rem;
}
.imagen4Right{
    width: 260px;
    height: 190px;
    position: absolute;
    right: -7%;
    bottom: -46rem;
}
.imagen5Left{
    width: 299px;
    position: absolute;
    height: 155px;
    left: -8%;
    top: 40.4rem;
}
.imagen6Left{
    width: 272px;
    position: absolute;
    height: 140px;
    left: -10%;
    top: 47rem;
}
/*Section Lineup Uno*/
.articleLineupUno{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #B49797;
    color: #FFFFFF;
    height: 45px;
    font-size: 1.3rem;
}
.buttonLineup{
    width: 294px;
    height: 32px;
    background-color: #FFFFFF;
    color: #B49797;
    font-size: 1.2rem;
    font-weight: 500;
    border: none;
    border-radius: 15px;
}
.sectionLySUno{
    display: grid;
    grid-template-columns: 50% 40%;
    gap: 80px;
}
.imagenLineup{
    width: 43.75rem;
    height: 43.75rem;
    object-fit: contain;
}
.articleLineupDos{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    text-align: center;
}
.h2Lineup{
    font-weight: 800;
    font-size: 2rem;
}
/*Section Lineup 2*/
.sectionLineupDos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
}
.articleAlfajores{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70rem;
    justify-content: center;
    column-gap: 40px;
    row-gap: 20px;
    text-align: center;
}
.articleAlfajores div{
    background-color: #D9D9D9;
    width: 20rem;
    height: 12rem;
    object-fit: contain;
}
.articleAlfajores img{
    width: 15.625rem;
    height: 10rem;
}
/*Section Contacto 1*/
.formUno{
    display: grid;
    grid-template-areas: 
    "item1 item2"
    "item3 item4"
    "item5 item5"
    ;
}
.inputUno input, .inputDos input, .inputTres input, .inputCuatro input{
    width: 26.625rem;
    height: 2.8rem;
    background-color: #FFFBE1;
    border: none;
}
.inputUno{
    grid-area: item1;
}
.inputDos{
    grid-area: item2;
}
.inputTres{
    grid-area: item3;
}
.inputCuatro{
    grid-area: item4;
}
.inputCinco input{
    width: 68.75rem;
    height: 2.8rem;
    border: none;
    grid-area: item5;
    color: #FFFBE1;
}
/*Section Suscripcion Uno*/
.divSuscripcionUno{
    color: #86707E;
    font-weight: 700;
    align-self: flex-end;
    margin: 0px 0px 30px 70px;
}
.divSuscripcionUno h2{
    font-weight: 800;
    font-size: 3.5rem;
    text-align: left;
}
.imagenSuscripcion{
    width: 50rem;
    height: 40.9375rem;
    object-fit: cover;
}
/*Section Suscricion Dos*/
.sectionSuscripcionDos{
    background-color: #574964;
}
.sectionSuscripcionDos h3{
    color: #D9D9D9;
    font-weight: 500;
    text-align: center;
    padding: 26px;
}
.sectionSuscripcionDos p{
    color: #D9D9D9;
    text-align: center;
    padding: 20px;
}
.articleCajas{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.cadaCaja{
    background-color: #C5CBDB;
    width: 30rem;
    height: 18rem;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}
.cadaCaja p{
    color: #000000;
}
/*Section Suscripcion 3*/
.sectionSuscripcionTres h3{
    font-weight: 900;
    font-size: 2rem;
    margin: 50px 0px 20px 190px;
}
.articleSuscripcionTres{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: repeat(4, 200px);
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}
.articleSuscripcionTres img{
    width: 10.625rem;
    height: 9.375rem;
    background-color: #86707E;
    border-radius: 40px;
    padding: 10px;
    margin-left: 160px;
}
/*Section Suscripcion 4*/
.sectionSuscripcionCuatro{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 40px;
}
.sectionSuscripcionCuatro h3{
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}
.sectionSuscripcionCuatro img{
    width: 33rem;
    height: 25rem;
    background-color: #574964;
    padding: 20px;
}
/*Section Suscripcion 5*/
.sectionSuscripcionCinco{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background-color: #574964;
    padding-top: 30px;
    padding-bottom: 30px;
}
.sectionSuscripcionCinco h3{
    font-weight: 500;
    font-size: 2rem;
    color: #D9D9D9;
}
.sectionSuscripcionCinco img{
    width: 45rem;
    height: 16rem;
    object-fit: cover;
}
/*MEDIA QUERY PARA TABLET*/
@media(max-width: 57.6875rem){
    .menuPopUp{
        display: none;
    }
    .menuLines{
        display: block;
    }
    .navbar{
        display: flex;
        justify-content: flex-end;
        height: 3.9375rem;
        justify-content: space-between;
    }
    .navbar img{
        margin-left: 15px;
    }
    a{
        margin-left: 0px;
        margin-right: 0px;
    }
    .articleUno{
        height: 100%;
        padding: 50px;;
    }
    h1{
        font-size: 45px;
        width: 100%;
    }
    .alfajorHidden{
        display: none;
    }
    .botonIndex{
        font-size: 15px;
        padding: 20px 30px 20px 30px;
    }
    .tituloGaleria{
        display: none;
    }
    .lineaIndex{
        border: 1px solid #574964 ;
    }
    .sectionNosotrosUno{
        grid-template-columns: repeat(8, 5.8125rem);
        grid-template-rows: repeat(9, 2.8469rem);
        justify-items: center;
        justify-content: center;
    }
    .sectionNosotrosUno h2{
        grid-column: 1/9;
        grid-row: 2/3;
        align-items: center;
    }
    .sectionNosotrosUno img{
        grid-column: 7/9;
        grid-row: 3/7;
        align-items: center;
        width: 16.625rem;
        height: 18.125rem;
    }
    .sectionNosotrosUno p{
        grid-column: 7/8;
        grid-row: 4/8;
        align-items: center;
        font-size: 0.9rem;
    }
}

/*MEDIA QUERY PARA MOBILE*/
@media(max-width: 756px){
    .sectionIndexUno img{
        display: none;
    }
    .alfajorHidden{
        display: block;
    }
    h1{
        font-size: 40px;
    }
    .articleUno{
        height: 100%;
        width: 100%;
    }
    .sectionNosotrosUno img{
        display: none;
        grid-column:unset;
    }
}
@media(max-width:590px){
    .sectionIndexUno{
        background-image: url(../assets/vista-mobile/pag-principal/fondo-mobile.png);
    }
    .lineaIndex{
        display: none;
    }
}
@media(max-width:430px){
    .imgGaleria1{
        display: none;
    }
    .imgGaleria2{
        width: 50%;
        height: 50%;
    }
    .articleUno{
        padding: 20px;
    }
    .botonIndex{
        margin-left: 20%;
        margin-right: 20%;
    }
}