@charset "UTF-8";
/*TIPOGRAFÍAS*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/*font-family: "Lato", serif;*/
/*titulos y elementos generales*/
h1 {
  font-size: 4rem;
  color: #7B6674;
  width: 450px;
  margin: 20px;
}

h2 {
  color: #7B6674;
  font-size: 2rem;
  text-align: center;
  font-weight: 500;
}

h3 {
  color: #7B6674;
  font-size: 1.4rem;
}

h4 {
  font-weight: 800;
  color: #7B6674;
  font-size: 1.2rem;
}

span {
  font-weight: bolder;
}

hr {
  border: 1px solid #7B6674;
}

/*UTILITIES*/
/*            VARIABLES         */
/*              MAPAS             */
/*        VER MIXIN DE GRID           */
/*BASE*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

body {
  background-color: #C5CBDB;
  font-family: "Lato", serif;
}

/*LAYOUTS*/
header {
  background-color: #574964;
}
header .navbar {
  padding: 0px;
}
header .navbar article {
  background-color: #574964;
}
header .navbar article img {
  height: 60px;
  width: auto;
  object-fit: contain;
}
header .navbar .navbar-nav {
  margin-left: 40px;
  gap: 30px;
}
header .navbar .navbar-nav .nav-item a {
  color: #D9D9D9;
}

.sectionIndexUno {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0rem;
  overflow-x: hidden;
  background-image: url(../assets/vista-desktop/pag-principal/fondo.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.sectionIndexUno article {
  background-color: rgba(255, 255, 255, 0.527);
  width: 673.06px;
  height: 500px;
  align-content: center;
}
.sectionIndexUno article .titulos {
  padding-bottom: 20px;
}
.sectionIndexUno article .titulos h1 {
  font-weight: 600;
}
.sectionIndexUno article .titulos .botonIndex {
  background-color: #DED3CD;
  color: #7B6674;
  border-radius: 3.0625rem;
  font-size: 1rem;
  padding: 30px 80px 30px 80px;
  border: none;
  margin-left: 20px;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 5px 10px 15px #86707E;
}

.sectionDos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  padding: 30px;
}

aside {
  background-image: url(../assets/vista-desktop/pag-principal/fondo-reseñasf.png);
  background-size: cover;
  min-height: 690px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.7rem;
  overflow-x: hidden;
  padding: 40px 0px;
}
aside h2 {
  color: #DED3CD;
  font-weight: 600;
  font-size: 2.4rem;
}
aside button {
  background-color: #DED3CD;
  color: #574964;
  border-radius: 1.875rem;
  font-size: 1.4rem;
  padding: 1.25rem;
  width: 37rem;
}
aside article {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}
aside article .collapse {
  height: 280px;
}
aside article .collapse .reseñas {
  text-align: left;
  width: 400px;
}
aside article div {
  background-color: #fff5f5;
  width: 372px;
  height: 450px;
  justify-items: center;
  padding-top: 30px;
}
aside article div .reseñaNormal {
  font-size: 0.8375rem;
  width: 300px;
  text-align: center;
  margin: 30px;
}
aside article div img {
  border-radius: 50%;
  width: 106px;
  height: 103px;
  object-fit: cover;
}
aside article div .flechaIndex {
  display: none;
}

.sectionNosotrosUno {
  display: grid;
  grid-template-columns: repeat(8, 180px);
  grid-template-rows: repeat(8, 80px);
  justify-items: center;
  justify-content: center;
}
.sectionNosotrosUno h2 {
  font-weight: 600;
  padding-bottom: 80px;
  font-size: 3rem;
  grid-column: 2/5;
  grid-row: 2/4;
  align-self: center;
  color: #9F8383;
}
.sectionNosotrosUno .textoSB {
  font-size: 1rem;
  text-align: justify;
  width: 31.25rem;
  grid-column: 2/5;
  grid-row: 4/6;
  align-self: center;
}
.sectionNosotrosUno img {
  width: 31.25rem;
  height: 34.375rem;
  grid-column: 5/8;
  grid-row: 1/5;
  object-fit: cover;
}

.sectionNosotrosDos {
  background-image: url(../assets/vista-desktop/pag-sobrenosotros/fondo.png);
  background-color: #574964;
  height: 36.5rem;
  display: grid;
  place-content: center;
  position: relative;
  overflow: hidden;
}
.sectionNosotrosDos div {
  background-color: #C5CBDB;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 72.3125rem;
  height: 25.875rem;
  display: grid;
  place-content: center;
}
.sectionNosotrosDos div p {
  font-size: 1.5rem;
  text-align: center;
  width: 800px;
}
.sectionNosotrosDos .imagen1Left {
  width: 16.25rem;
  position: absolute;
  height: 11.875rem;
  left: -5%;
  top: 9rem;
  height: auto;
  z-index: 10;
}
.sectionNosotrosDos .imagen2Right {
  width: 18.6875rem;
  position: absolute;
  height: 9.6875rem;
  right: -6rem;
  top: 18.6rem;
  height: auto;
  overflow-x: hidden;
}
.sectionNosotrosDos .imagen3Right {
  width: 17rem;
  position: absolute;
  height: 8.75rem;
  right: -3rem;
  top: 29.5rem;
  height: auto;
}
.sectionNosotrosDos .imagen4Right {
  width: 16.25rem;
  position: absolute;
  height: 11.875rem;
  right: -5rem;
  top: 23rem;
  height: auto;
}
.sectionNosotrosDos .imagen5Left {
  width: 18.6875rem;
  position: absolute;
  height: 9.6875rem;
  left: -6%;
  top: -1.5rem;
  height: auto;
}
.sectionNosotrosDos .imagen6Left {
  width: 17rem;
  position: absolute;
  height: 8.75rem;
  left: -8%;
  top: 5.2rem;
  height: auto;
}

.articleLineupUno {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 0rem;
  background-color: #B49797;
  color: #FFFFFF;
  height: 45px;
  font-size: 1.3rem;
}
.articleLineupUno .pLineup {
  margin-bottom: 0px;
}
.articleLineupUno .pLineupHidden {
  display: none;
}
.articleLineupUno button {
  width: 294px;
  height: 32px;
  background-color: #FFFFFF;
  color: #B49797;
  font-size: 1.2rem;
  font-weight: 500;
  border: none;
  border-radius: 15px;
}

.sectionLineupUno {
  display: grid;
  grid-template-columns: 50% 40%;
  gap: 80px;
}
.sectionLineupUno img {
  width: 43.75rem;
  height: 43.75rem;
  object-fit: contain;
}
.sectionLineupUno article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.875rem;
  text-align: center;
}
.sectionLineupUno article h2 {
  font-weight: 800;
  font-size: 2rem;
}
.sectionLineupUno article .divLineupUno .pLineupDos {
  margin-top: 10px;
  color: #86707E;
}

.sectionLineupDos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.875rem;
  margin-top: 30px;
}
.sectionLineupDos h3 {
  font-size: 1.6rem;
}
.sectionLineupDos article {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2.5rem 1.25rem;
  flex-wrap: wrap;
  width: 1200px;
  text-align: center;
}
.sectionLineupDos article div {
  background-color: #D9D9D9;
  width: 20rem;
  height: 12rem;
  object-fit: contain;
}
.sectionLineupDos article div img {
  width: 15.625rem;
  height: 10rem;
}
.sectionLineupDos article div .imgLineupDiferente1 {
  width: 250px;
  height: auto;
  transform: translateY(-15px);
}
.sectionLineupDos article div .pLineupDiferente {
  transform: translateY(-45px);
}

.sectionContactoUno {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: auto;
  gap: 3.75rem;
  padding: 1.875rem;
}

/*           PREGUNTAR EXTEND              */
/*FALTA SECTION UNO*/
.sectionSuscripcionUno {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: auto;
  gap: 0rem;
}
.sectionSuscripcionUno .imagenSuscripcion {
  width: 50rem;
  height: 40.9375rem;
  object-fit: cover;
}
.sectionSuscripcionUno .divSuscripcionUno {
  color: #86707E;
  font-weight: 700;
  align-self: flex-end;
  margin: 1.875rem 1.875rem;
}
.sectionSuscripcionUno .divSuscripcionUno h2 {
  font-weight: 800;
  font-size: 3.5rem;
  text-align: left;
}

.sectionSuscripcionDos {
  background-color: #574964;
}
.sectionSuscripcionDos h3 {
  color: #D9D9D9;
  font-weight: 500;
  text-align: center;
  padding: 26px;
}
.sectionSuscripcionDos p {
  color: #D9D9D9;
  text-align: center;
  padding: 20px;
}
.sectionSuscripcionDos article {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  flex-wrap: wrap;
}
.sectionSuscripcionDos article div {
  background-color: #C5CBDB;
  width: 30rem;
  height: 18rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.sectionSuscripcionDos article div p {
  color: #000000;
}

.sectionSuscripcionTres h3 {
  font-weight: 900;
  font-size: 2rem;
  margin: 50px 0px 20px 190px;
}
.sectionSuscripcionTres .articleSuscripcionTres {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: repeat(4, 200px);
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}
.sectionSuscripcionTres .articleSuscripcionTres img {
  width: 10.625rem;
  height: 9.375rem;
  background-color: #86707E;
  border-radius: 40px;
  padding: 10px;
  margin-left: 160px;
}

.sectionSuscripcionCuatro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 0rem;
  padding: 40px;
}
.sectionSuscripcionCuatro h3 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}
.sectionSuscripcionCuatro img {
  width: 33rem;
  height: 25rem;
  background-color: #574964;
  padding: 1.25rem;
}

.sectionSuscripcionCinco {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  background-color: #574964;
  padding-top: 30px;
  padding-bottom: 30px;
}
.sectionSuscripcionCinco h3 {
  font-weight: 500;
  font-size: 2rem;
  color: #D9D9D9;
}
.sectionSuscripcionCinco img {
  width: 45rem;
  height: 16rem;
  object-fit: cover;
}

.titulosS {
  text-align: center;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
  text-align: center;
  margin: 30px 0px;
}
footer hr {
  height: 334.01px;
}
footer article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-left: auto;
  margin-right: auto;
}
footer article p {
  color: #7B6674;
  font-size: 1rem;
  width: 98%;
}
footer article div {
  display: flex;
  gap: 20px;
}
footer article div img {
  width: 130px;
}

/*COMPONENTS*/
.formC {
  display: flex;
  flex-wrap: wrap;
  column-gap: 200px;
  row-gap: 100px;
  justify-content: center;
  padding: 30px;
}
.formC .divCUno, .formC .divCDos {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: max-content;
}
.formC .divCUno:before, .formC .divCDos:before {
  content: "";
  background-color: #574964;
  height: 3px;
  width: 99%;
  position: absolute;
  bottom: 0;
  left: 2px;
}
.galerias {
  display: flex;
  gap: 5%;
}
.galerias .imgGaleria2, .galerias .imgGaleria1 {
  width: 30%;
  height: 30%;
}
.inputFooterUno {
  width: 25.9375rem;
  height: 3.125rem;
  font-family: "Lato", serif;
  font-size: 1.25rem;
  background-color: #FFFFFF;
  border: none;
}

.inputFooterDos {
  width: 9.0625rem;
  height: 3.125rem;
  font-family: "Lato", serif;
  font-size: 1.25rem;
  background-color: #FFFFFF;
  border: none;
  background-color: #7B6674;
  color: #FFFFFF;
}

.inputCUno {
  width: 26.25rem;
  height: 3.125rem;
  border-radius: 0.3125rem;
}

.inputCDos {
  width: 65rem;
  height: 3.125rem;
  border-radius: 0.3125rem;
}

.inputCEnviar {
  width: 18.75rem;
  height: 3.125rem;
  border-radius: 0.625rem;
  background-color: #574964;
  color: #FFFFFF;
  font-size: 1.4rem;
}

.lineaIndex, .lineaLineup {
  width: 441.68px;
  background-color: #574964;
  border: 0.3px solid;
  margin: 0px;
}

.lineaLineup {
  width: 25rem;
}

/*MEDIA QUERIES*/
@media (max-width: 1024px) {
  .sectionIndexUno .articleUno h1 {
    font-size: 3.7rem;
  }
  aside article {
    padding: 0rem 1rem;
  }
  aside article div {
    width: 325px;
  }
  aside button {
    font-size: 1.4rem;
    padding: 20px 30px;
  }
  .sectionSuscripcionUno .imagenSuscripcion {
    width: 31.25rem;
    height: 31.25rem;
  }
  .sectionSuscripcionTres .articleSuscripcionTres img {
    margin-left: 5rem;
  }
  .sectionSuscripcionTres h3 {
    margin-left: 90px;
  }
  .sectionSuscripcionCuatro h3 {
    margin-left: 30px;
  }
  .sectionContactoUno .formC .inputCUno {
    width: 20rem;
    height: 3.125rem;
    border-radius: 0.3125rem;
  }
  .sectionContactoUno .formC .inputCDos {
    width: 52.5rem;
    height: 3.125rem;
    border-radius: 0.3125rem;
  }
  .sectionNosotrosUno h2 {
    grid-column: 2/6;
  }
  .sectionNosotrosUno img {
    width: 450px;
    object-fit: contain;
    grid-column: 6/7;
  }
  .sectionNosotrosUno .textoSB {
    grid-column: 3/5;
    grid-row: 4/6;
  }
  .sectionNosotrosDos .fondoNosotros {
    width: 950px;
  }
  .sectionNosotrosDos .fondoNosotros p {
    font-size: 1.3rem;
    width: 720px;
  }
  .sectionNosotrosDos .imagen1Left {
    width: 210px;
    position: absolute;
    height: 11.875rem;
    left: -5%;
    top: 7.5rem;
    height: auto;
    z-index: 10;
  }
  .sectionNosotrosDos .imagen2Right {
    width: 230px;
    position: absolute;
    height: 9.6875rem;
    right: -4.5rem;
    top: 20.9rem;
    height: auto;
  }
  .sectionNosotrosDos .imagen3Right {
    width: 210px;
    position: absolute;
    height: 8.75rem;
    right: -3rem;
    top: 30.3rem;
    height: auto;
  }
  .sectionNosotrosDos .imagen4Right {
    width: 240px;
    position: absolute;
    height: 11.875rem;
    right: -5.7rem;
    top: 24rem;
    height: auto;
  }
  .sectionNosotrosDos .imagen5Left {
    width: 230px;
    position: absolute;
    height: 9.6875rem;
    left: -6%;
    top: -1.5rem;
    height: auto;
  }
  .sectionNosotrosDos .imagen6Left {
    width: 210px;
    position: absolute;
    height: 8.75rem;
    left: -8%;
    top: 4.5rem;
    height: auto;
  }
  .articleLineupUno button {
    width: 13.75rem;
  }
  .sectionLineupUno {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: auto;
    gap: 0rem;
  }
  .sectionLineupUno .imagenLineup {
    width: 35rem;
    height: 40.9375rem;
    object-fit: cover;
  }
  .sectionLineupUno .articleLineupDos {
    align-self: flex-end;
    margin: 1.875rem 1.875rem;
  }
  .sectionLineupDos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.875rem;
    margin-top: 30px;
  }
  .sectionLineupDos h3 {
    font-size: 1.6rem;
  }
  .sectionLineupDos article {
    width: 1000px;
  }
  .sectionLineupDos article div {
    height: 180px;
    width: 300px;
    padding: 5px 0px 35px 0px;
  }
  .sectionLineupDos article div p {
    margin-bottom: 0px;
  }
  .sectionLineupDos article div .pLineupDiferente {
    transform: translateY(-30px);
  }
  .sectionLineupDos article div img {
    width: 220px;
    height: 120px;
    object-fit: contain;
    margin-bottom: 10px;
  }
  .sectionLineupDos article div .imgLineupDiferente1 {
    width: 260px;
    height: 160px;
    object-fit: contain;
    margin-bottom: 0px;
    transform: translateY(-10px);
  }
  footer article div .imgFooter img {
    width: 90px;
    margin-left: 10px;
  }
  footer article form .inputFooterUno {
    width: 330px;
    font-size: 1.1rem;
  }
  footer article form .inputFooterDos {
    width: 110px;
    font-size: 1.1rem;
  }
  footer article footer h3 {
    font-size: 1.2rem;
  }
  footer article footer p {
    font-size: 0.9rem;
  }
}
@media (max-width: 768px) {
  .sectionIndexUno img {
    display: none;
  }
  .sectionIndexUno .articleUno {
    height: 350px;
    width: 100%;
  }
  .sectionIndexUno .articleUno .titulos {
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
  }
  .sectionIndexUno .articleUno .titulos button {
    margin: 0px 20px 20px 20px;
    padding: 30px 50px;
  }
  .sectionIndexUno .articleUno .titulos h1 {
    font-size: 45px;
  }
  .sectionDos h2 {
    font-size: 1.6rem;
  }
  .sectionDos hr {
    width: 350px;
  }
  aside {
    padding: 2.5rem;
  }
  aside h2 {
    font-size: 2rem;
  }
  aside article {
    flex-wrap: wrap;
  }
  aside article .collapse {
    height: 200px;
  }
  aside article .collapse .card-body {
    padding: 5px 0px;
  }
  aside article .collapse .card-body .reseñas {
    width: 594px;
    padding-top: 16px;
  }
  aside article div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 0.625rem;
    width: 624px;
    height: 130px;
    padding: 20px;
    overflow-y: hidden;
  }
  aside article div .flechaIndex {
    display: block;
  }
  aside article div .reseñaNormal {
    display: none;
  }
  aside article div img {
    object-fit: cover;
    height: 90px;
    width: 90px;
  }
  aside button {
    width: 100%;
    font-size: 1.2rem;
  }
  .sectionSuscripcionUno .imagenSuscripcion {
    width: 28rem;
    height: 28rem;
  }
  .sectionSuscripcionUno .divSuscripcionUno h2 {
    font-weight: 800;
    font-size: 2.8rem;
    text-align: left;
  }
  .sectionSuscripcionDos article div {
    width: 37.5rem;
    height: 18rem;
  }
  .sectionSuscripcionTres h3 {
    font-size: 1.8rem;
  }
  .sectionSuscripcionTres .articleSuscripcionTres p {
    font-size: 1.2rem;
    width: 500px;
    padding-left: 40px;
  }
  .sectionSuscripcionCuatro {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
  }
  .sectionContactoUno .formC .inputCUno {
    width: 30rem;
    height: 3.125rem;
    border-radius: 0.3125rem;
  }
  .sectionContactoUno .formC .inputCDos {
    width: 30rem;
    height: 3.125rem;
    border-radius: 0.3125rem;
  }
  .sectionNosotrosUno {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 50px 0px;
  }
  .sectionNosotrosUno h2 {
    padding-bottom: 0px;
  }
  .sectionNosotrosUno .textoSB {
    margin: 0px;
  }
  .sectionNosotrosUno img {
    display: none;
  }
  .sectionNosotrosDos .fondoNosotros {
    width: 700px;
  }
  .sectionNosotrosDos .fondoNosotros p {
    width: 660px;
  }
  .sectionNosotrosDos .imagen1Left {
    width: 170px;
    position: absolute;
    height: 11.875rem;
    left: 18.2rem;
    top: -1.9rem;
    height: auto;
    z-index: 10;
  }
  .sectionNosotrosDos .imagen2Right {
    width: 150px;
    position: absolute;
    height: 9.6875rem;
    right: 16rem;
    top: 33rem;
    height: auto;
  }
  .sectionNosotrosDos .imagen3Right {
    width: 210px;
    position: absolute;
    height: 8.75rem;
    right: -2rem;
    top: 30.3rem;
    height: auto;
  }
  .sectionNosotrosDos .imagen4Right {
    width: 200px;
    position: absolute;
    height: 11.875rem;
    right: 6.5rem;
    top: 30.1rem;
    height: auto;
  }
  .sectionNosotrosDos .imagen5Left {
    width: 230px;
    position: absolute;
    height: 9.6875rem;
    left: -6%;
    top: -1.5rem;
    height: auto;
  }
  .sectionNosotrosDos .imagen6Left {
    width: 200px;
    position: absolute;
    height: 8.75rem;
    left: 8.5rem;
    top: -0.9rem;
    height: auto;
  }
  .articleLineupUno p {
    font-size: 1rem;
  }
  .articleLineupUno button {
    width: 180px;
    font-size: 1rem;
  }
  .sectionLineupUno .imagenLineup {
    display: none;
  }
  .sectionLineupDos .articleAlfajores {
    width: 100%;
  }
  .sectionLineupDos .articleAlfajores .imgLineupDiferente1 {
    width: 230px;
    height: auto;
    transform: translateY(-25px);
  }
  .sectionLineupDos .articleAlfajores .pLineupDiferente {
    transform: translateY(-55px);
  }
  footer article .imgFooter img {
    width: 80px;
    margin: 0;
  }
  footer article form .inputFooterUno {
    width: 270px;
    font-size: 1rem;
  }
  footer article form .inputFooterDos {
    width: 70px;
    font-size: 1rem;
  }
}
@media (max-width: 425px) {
  .sectionIndexUno .articleUno .titulos h1 {
    font-size: 2.7rem;
    width: 90%;
  }
  .sectionIndexUno .articleUno .titulos .botonIndex {
    padding: 20px 40px;
    font-size: 1rem;
    margin: 0px 20px 20px 20px;
  }
  .sectionDos .lineaIndex, .sectionDos .lineaLineup {
    width: 280px;
    background-color: #574964;
    border: 0.3px solid;
    margin: 0px;
  }
  aside {
    background-size: cover;
    padding: 40px 20px 30px 20px;
  }
  aside .contenedorAside .collapse {
    width: 353px;
    padding: 0px;
    margin-bottom: 60px;
  }
  aside .contenedorAside .collapse .card-body .reseñas {
    width: 330px;
  }
  aside .contenedorAside .cardRDiff {
    width: 353px;
    padding: 0px;
    margin-bottom: 85px;
  }
  aside .contenedorAside .cardRDiff .card-body .reseñas {
    width: 330px;
  }
  aside .contenedorAside div {
    padding: 0px 0px 0px 15px;
  }
  aside .contenedorAside div .flechaIndex {
    padding: 0px;
  }
  .sectionSuscripcionUno {
    position: relative;
    height: 650px;
  }
  .sectionSuscripcionUno .imagenSuscripcion {
    height: 100%;
    width: 100%;
  }
  .sectionSuscripcionUno .divSuscripcionUno {
    position: absolute;
    z-index: 30;
    background-color: rgba(107, 85, 100, 0.6980392157);
    width: 100%;
    height: 100%;
    margin: 0px;
  }
  .sectionSuscripcionUno .divSuscripcionUno h2 {
    color: #DED3CD;
    padding: 440px 0px 0px 20px;
  }
  .sectionSuscripcionUno .divSuscripcionUno p {
    color: #DED3CD;
    padding: 0px 0px 10px 30px;
  }
  .sectionSuscripcionDos article div {
    width: 360px;
    height: 18rem;
  }
  .sectionSuscripcionTres h3 {
    text-align: center;
    margin: 40px 0px;
  }
  .sectionSuscripcionTres .articleSuscripcionTres {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .sectionSuscripcionTres .articleSuscripcionTres img {
    margin: 0px;
  }
  .sectionSuscripcionTres .articleSuscripcionTres p {
    font-size: 1rem;
    width: 80%;
    text-align: center;
    padding: 0%;
    margin: 15px 0px 30px 0px;
  }
  .sectionSuscripcionCuatro h3 {
    margin-left: 0px;
    font-size: 1.8rem;
  }
  .sectionSuscripcionCuatro img {
    width: 425px;
    object-fit: cover;
  }
  .sectionSuscripcionCinco {
    padding: 20px 0px 0px 0px;
    gap: 0px;
  }
  .sectionSuscripcionCinco img {
    width: 400px;
    object-fit: contain;
  }
  .sectionContactoUno {
    gap: 20px;
  }
  .sectionContactoUno .formC {
    gap: 50px;
  }
  .sectionContactoUno .formC .inputCDos, .sectionContactoUno .formC .inputCUno {
    width: 280px;
  }
  .galerias {
    justify-content: center;
  }
  .galerias .imgGaleria1 {
    display: none;
  }
  .galerias .imgGaleria2, .galerias .imgGaleria1 {
    width: 190px;
    height: auto;
  }
  .sectionNosotrosUno h2 {
    font-size: 1.9rem;
  }
  .sectionNosotrosUno .textoSB {
    width: 390px;
  }
  .sectionNosotrosUno .textoSB p {
    font-size: 0.9rem;
  }
  .sectionNosotrosDos .fondoNosotros {
    width: 400px;
  }
  .sectionNosotrosDos .fondoNosotros p {
    width: 370px;
    font-size: 1rem;
  }
  .sectionNosotrosDos .imagen1Left, .sectionNosotrosDos .imagen2Right, .sectionNosotrosDos .imagen4Right, .sectionNosotrosDos .imagen5Left {
    display: none;
  }
  .sectionNosotrosDos .imagen3Right {
    width: 210px;
    position: absolute;
    height: 8.75rem;
    left: -2.5rem;
    top: 28.1rem;
    height: auto;
    transform: rotate(15deg);
  }
  .sectionNosotrosDos .imagen6Left {
    width: 200px;
    position: absolute;
    height: 8.75rem;
    left: 16.5rem;
    top: 2.6rem;
    height: auto;
    transform: rotate(15deg);
  }
  .articleLineupUno .pLineup {
    display: none;
  }
  .articleLineupUno .pLineupHidden {
    display: block;
    font-size: 1.3rem;
    margin-bottom: 0px;
  }
  .articleLineupUno button {
    font-size: 1.2rem;
  }
  .sectionLineupUno {
    margin-top: 30px;
  }
  .sectionLineupUno .h2Lineup {
    font-size: 2rem;
  }
  .sectionLineupDos {
    margin-bottom: 80px;
  }
  .sectionLineupDos .h3Lineup {
    font-size: 1.6rem;
  }
  .sectionLineupDos .lineaLineup {
    width: 80%;
  }
  .sectionLineupDos .articleAlfajores div {
    width: 370px;
    font-size: 1.1rem;
    box-shadow: 5px 5px 30px #000000;
  }
  .sectionLineupDos .articleAlfajores div .imgLineupDiferente1 {
    width: 240px;
    height: auto;
    transform: translateY(-25px);
  }
  .sectionLineupDos .articleAlfajores div .pLineupDiferente {
    transform: translateY(-65px);
  }
  footer {
    flex-direction: column;
    gap: 2rem;
  }
  footer article h3 {
    font-size: 1.3rem;
  }
  footer article .imgFooter {
    flex-direction: row;
    margin: auto;
  }
  footer article p {
    width: 80%;
  }
  footer .lineaFooter {
    display: none;
  }
}
@media (max-width: 320px) {
  .sectionIndexUno {
    background-size: 200% contain;
  }
  .sectionIndexUno .articleUno .titulos h1 {
    font-size: 2.4rem;
  }
  .sectionIndexUno .articleUno .titulos .botonIndex {
    font-size: 0.8rem;
    padding: 15px 30px;
  }
  .galerias .imgGaleria2, .galerias .imgGaleria1 {
    width: 150px;
    height: auto;
  }
  aside {
    gap: 20px;
    padding: 40px 20px;
  }
  aside .contenedorAside {
    padding: 0px;
  }
  aside .contenedorAside .collapse {
    height: 320px;
    margin-bottom: 100px;
  }
  aside .contenedorAside .collapse .card-body {
    width: 272px;
  }
  aside .contenedorAside .collapse .card-body .reseñas {
    width: 220px;
  }
  aside .contenedorAside div {
    width: 305px;
    gap: 0px;
    padding: 8px;
  }
  aside .contenedorAside div p {
    width: 397px;
    margin-left: 5px;
  }
  aside .contenedorAside div .flechaIndex {
    width: 60px;
    padding: 0px;
  }
  aside .contenedorAside div img {
    width: 70px;
    height: 70px;
  }
  aside button {
    font-size: 1rem;
    padding: 20px 22px;
  }
  .sectionContactoUno {
    padding: 30px 0px;
  }
  .sectionContactoUno .formC {
    padding: 30px 0px;
  }
  .sectionSuscripcionDos .pSeparado {
    font-size: 0.9rem;
    padding: 20px;
  }
  .sectionSuscripcionDos article div {
    width: 290px;
  }
  .sectionSuscripcionDos article div p {
    padding: 0px 20px;
  }
  .sectionSuscripcionTres h3 {
    font-size: 1.5rem;
  }
  .sectionSuscripcionTres .articleSuscripcionTres img {
    width: 140px;
    height: auto;
  }
  .sectionSuscripcionTres .articleSuscripcionTres p {
    font-size: 0.9rem;
  }
  .sectionSuscripcionCuatro {
    padding: 0px;
    margin: 40px 0px 40px 0px;
  }
  .sectionSuscripcionCuatro h3 {
    font-size: 1.4rem;
    font-weight: 800;
  }
  .sectionSuscripcionCuatro img {
    width: 100%;
    height: auto;
    object-fit: contain;
    padding: 0px;
  }
  .sectionSuscripcionCinco img {
    width: 320px;
    height: 165px;
    object-fit: cover;
  }
  .sectionSuscripcionCinco h3 {
    font-size: 1.7rem;
  }
  .sectionNosotrosUno .textoSB {
    width: 270px;
  }
  .sectionNosotrosDos .fondoNosotros {
    height: 470px;
    width: 425px;
  }
  .sectionNosotrosDos .fondoNosotros p {
    width: 300px;
    margin-bottom: 0px;
  }
  .sectionNosotrosDos .imagen3Right {
    width: 190px;
    position: absolute;
    height: 8.75rem;
    left: -1rem;
    top: 30.1rem;
    height: auto;
    transform: rotate(8deg);
  }
  .sectionNosotrosDos .imagen6Left {
    width: 190px;
    position: absolute;
    height: 8.75rem;
    left: 9.1rem;
    top: 1rem;
    height: auto;
    transform: rotate(8deg);
  }
  .articleLineupUno .pLineupHidden {
    font-size: 1.1rem;
  }
  .articleLineupUno button {
    width: 120px;
    font-size: 1rem;
  }
  .sectionLineupUno .h2Lineup {
    width: 90%;
    font-size: 1.5rem;
  }
  .sectionLineupUno p {
    font-size: 1.06rem;
    text-align: justify;
    width: 250px;
  }
  .sectionLineupUno .divLineupUno p {
    text-align: center;
  }
  .sectionLineupDos .articleAlfajores div {
    width: 280px;
    height: 160px;
  }
  .sectionLineupDos .articleAlfajores div img {
    width: 180px;
    height: auto;
  }
  .sectionLineupDos .articleAlfajores div .imgLineupDiferente1 {
    width: 200px;
    transform: translateY(-15px);
  }
  .sectionLineupDos .articleAlfajores div .imgLineupDiferente2 {
    width: 140px;
  }
  .sectionLineupDos .articleAlfajores div .pLineupDiferente {
    transform: translateY(-45px);
  }
  footer article form .inputFooterUno, footer article form .inputFooterDos {
    width: 240px;
  }
}

/*# sourceMappingURL=style.css.map */
