@media(max-width: 425px){
    .sectionIndexUno{
        .articleUno{
            .titulos{
                h1{
                    font-size: 2.7rem;
                    width: 90%;
                }
                .botonIndex{
                    padding: 20px 40px;
                    font-size: 1rem;
                    margin: 0px 20px 20px 20px;
                }
            }
        }
    }
    .sectionDos{
        .lineaIndex{
            width: 280px;
            background-color: map-get($colores, color10);
            border: 0.3px solid;
            margin: 0px;
        }
    }
    aside{
        background-size: cover;
        padding: 40px 20px 30px 20px;
        article{
            .collapse{
                .reseñas{
                    width: 270px;
                    font-size: 0.9rem;
                }
            }
            div{
                width: 110%;
                img{
                    width: 80px;
                    height: auto;
                }
                p{
                    margin: 0px;
                }
                .btn .flechaIndex{
                    width: 60px;
                }
            }
        }
    }
    .sectionSuscripcionUno{
        position: relative;
        height: 650px;
        .imagenSuscripcion{
            height: 100%;
            width: 425px;
        }
        .divSuscripcionUno{
            position: absolute;
            z-index: 30;
            background-color: map-get($colores, color8tras);
            width: 100%;
            height: 100%;
            margin: 0px;
            h2{
                color: map-get($colores, color4);
                padding: 440px 0px 0px 20px;
            }
            p{
                color: map-get($colores, color4);
                padding: 0px 0px 10px 30px;
            }
        }
    }
    .sectionSuscripcionDos{
        article{
            div{
                width: 360px;
                height: 18rem;
            }
        }
    }
    .sectionSuscripcionTres{
        h3{
            text-align: center;
            margin: 40px 0px;
        }
        .articleSuscripcionTres{
            @include flexbox(flex, column, center, center, 10px);
            img{
                margin: 0px;
            }
            p{
                font-size: 1rem;
                width: 80%;
                text-align: center;
                padding: 0%;
                margin: 15px 0px 30px 0px;
            }
        }
    }
    .sectionSuscripcionCuatro{
        h3{
            margin-left: 0px;
            font-size: 1.8rem;
        }
        img{
            width: 425px;
            object-fit: cover;
        }
    }
    .sectionSuscripcionCinco{
        padding: 20px 0px 0px 0px;
        gap: 0px;
        img{
            width: 400px;
            object-fit: contain;
        }
    }
    .sectionContactoUno{
        gap: 20px;
        .formC{
            gap: 50px;
            .inputCDos, .inputCUno{
                width: 280px;
            }
        }
    }
    .galerias{
        justify-content: center;
        .imgGaleria1{
            display: none;
        }
        .imgGaleria2{
            width: 190px;
            height: auto;
        }
    }
    .sectionNosotrosUno{
        h2{
            font-size: 1.9rem;
        }
        .textoSB{
            width: 390px;
            p{
                font-size: 0.9rem;
            }
        }
    }
    .sectionNosotrosDos{
        .fondoNosotros{
            width: 400px;
            p{
                width: 370px;
                font-size: 1rem;
            }
        }
        .imagen1Left, .imagen2Right, .imagen4Right, .imagen5Left {
            display: none;
        } 
        .imagen3Right{
            @include imgSBLeft(210px, absolute, 8.75rem, -2.5rem, 28.1rem);
            transform: rotate(15deg);
        }
        .imagen6Left{
            @include imgSBLeft(200px, absolute, 8.75rem, 16.5rem, 2.6rem);
            transform: rotate(15deg);
        }
    }
    footer{
        flex-direction: column;
        gap: 2rem;
        article{
            h3{
            font-size: 1.3rem;
            }
            .imgFooter{
                flex-direction: row;
                margin: auto;
            }
            p{
                width: 80%;
            }
        }
        .lineaFooter{
            display: none;
        }
    }
}