@media(max-width:1024px){
    .navbar{
        display: flex;
        justify-content: space-between;
        height: 3.9375rem;
        .menuPopUp{
            display: none;
        }
        .menuLines{
            display: block;
            margin-right: 15px;
        }
    }
    .sectionIndexUno{
        h1{
            font-size: 3.7rem;
        }
    }
    aside{
        article{
            padding: 0rem 1rem;
        }
        button{
            font-size: 1.4rem;
            padding: 20px 30px;
        }
    }
    .sectionSuscripcionUno{
        .imagenSuscripcion{
            width: 31.25rem;
            height: 31.25rem;
        }
    }
    .sectionSuscripcionTres{
        .articleSuscripcionTres{
            img{
                margin-left: 5rem;
            }
        }
        h3{
            margin-left: 90px;
        }
    }
    .sectionSuscripcionCuatro{
        h3{
            margin-left: 30px;
        }
    }
    .sectionContactoUno{
        .formC{
            .inputCUno{
                @include inputContacto(20rem, 3.125rem, .3125rem);
            }
            .inputCDos{
                @include inputContacto(52.5rem, 3.125rem, .3125rem);
            }
        }
    }
    footer{
        article{
            div{
                .imgFooter img{
                    width: 90px;
                    margin-left: 10px;
                }
            }
            form{
                .inputFooterUno{
                    width: 330px;
                    font-size: 1.1rem;
                }
                .inputFooterDos{
                    width: 110px;
                    font-size: 1.1rem;
                }
            }
            footer h3{
                font-size: 1.2rem;
            }
            footer p{
                font-size: 0.9rem;
            }
        }
    }
}