@media(max-width:1024px){
    .sectionIndexUno{
        .articleUno{
            h1{
                font-size: 3.7rem;
            }
        }
    }
    aside{
        article{
            padding: 0rem 1rem;
            div{
                width: 325px;
            }
        }
        button{
            font-size: 1.4rem;
            padding: 20px 30px;
        }
    }
    .sectionSuscripcionUno{
        .imagenSuscripcion{
            width: 31.25rem;
            height: 31.25rem;
        }
    }
    .sectionSuscripcionTres{
        .articleSuscripcionTres{
            img{
                margin-left: 5rem;
            }
        }
        h3{
            margin-left: 90px;
        }
    }
    .sectionSuscripcionCuatro{
        h3{
            margin-left: 30px;
        }
    }
    .sectionContactoUno{
        .formC{
            .inputCUno{
                @include inputContacto(20rem, 3.125rem, .3125rem);
            }
            .inputCDos{
                @include inputContacto(52.5rem, 3.125rem, .3125rem);
            }
        }
    }
    .sectionNosotrosUno{
        h2{
            grid-column: 2/6;
        }
        img{
            width: 450px;
            object-fit: contain;
            grid-column: 6/7;
        }
        .textoSB{
            grid-column: 3/5;
            grid-row: 4/6;
        }
    }
    .sectionNosotrosDos{
        .fondoNosotros{
            width: 950px;
            p{
                font-size: 1.3rem;
                width: 720px;
            }
        }
        .imagen1Left{
            @include imgSBLeft(210px, absolute, 11.875rem, -5%, 7.5rem);
            z-index: 10;
        }
        .imagen2Right{
            @include imgSBRight(230px, absolute, 9.6875rem, -4.5rem, 20.9rem);
        }
        .imagen3Right{
            @include imgSBRight(210px, absolute, 8.75rem, -3rem, 30.3rem);
        }
        .imagen4Right{
            @include imgSBRight(240px, absolute, 11.875rem, -5.7rem, 24rem);
        }
        .imagen5Left{
            @include imgSBLeft(230px, absolute, 9.6875rem, -6%, -1.5rem);
        }
        .imagen6Left{
            @include imgSBLeft(210px, absolute, 8.75rem, -8%, 4.5rem);
        }
    }
    .articleLineupUno{
        button{
            width: 13.75rem;
        }
    }
    .sectionLineupUno{
        @include flexbox(flex, row, center, auto, 0rem);
        .imagenLineup{
            width: 35rem;
            height: 40.9375rem;
            object-fit: cover;
        }
        .articleLineupDos{
            align-self: flex-end;
            margin: 1.875rem 1.875rem;
        }
    }
    .sectionLineupDos{
        @include flexbox(flex, column, center, center, 1.875rem);
        margin-top: 30px;
        h3{
            font-size: 1.6rem;
        }
        article{
            width: 1000px;
            div{
                height: 180px;
                width: 300px;
                padding: 5px 0px 35px 0px;
                p{
                    margin-bottom: 0px;
                }
                .pLineupDiferente{
                    transform: translateY(-30px);
                }
                img{
                    width: 220px;
                    height: 120px;
                    object-fit: contain;
                    margin-bottom: 10px;
                }
                .imgLineupDiferente1{
                    width: 260px;
                    height: 160px;
                    object-fit: contain;
                    margin-bottom: 0px;
                    transform: translateY(-10px);
                }
            }
        }
    }
    footer{
        article{
            div{
                .imgFooter img{
                    width: 90px;
                    margin-left: 10px;
                }
            }
            form{
                .inputFooterUno{
                    width: 330px;
                    font-size: 1.1rem;
                }
                .inputFooterDos{
                    width: 110px;
                    font-size: 1.1rem;
                }
            }
            footer h3{
                font-size: 1.2rem;
            }
            footer p{
                font-size: 0.9rem;
            }
        }
    }
}