@media(max-width: 768px){
    .sectionIndexUno{
        img{
            display: none;
        }
        .articleUno{
            height: 350px;
            width: 100%;
            .titulos{
                margin-top: 20px;
                text-align: center;
                @include flexbox(flex, column, center, center, 0px);
                button{
                    margin: 0px 20px 20px 20px;
                    padding: 30px 50px;
                }
                h1{
                    font-size: 45px;
                }
            }
        }
    }
    .sectionDos{
        h2{
            font-size: 1.6rem;
        }
        hr{
            width: 350px;
        }
    }
    aside{
        padding: 2.5rem;
        h2{
            font-size: 2rem;
        }
        article{
            flex-wrap: wrap;
            .collapse  {
                height: 200px;
                .card-body{
                    padding: 5px 0px;
                    .reseñas{
                        width: 594px;
                        padding-top: 16px;
                    }
                }
            }
            div{
                @include flexbox(flex, row, center, space-evenly, .625rem);
                width: 624px;
                height: 130px;
                padding: 20px;
                overflow-y: hidden;
                .flechaIndex{
                    display: block;
                }
                .reseñaNormal{
                    display: none;
                }
                img{
                    object-fit: cover;
                    height: 90px;
                    width: 90px;
                }
            }
        }
        button{
            width: 100%;
            font-size: 1.2rem;
        }
    }
    .sectionSuscripcionUno{
        .imagenSuscripcion{
            width: 28rem;
            height: 28rem;
        }
        .divSuscripcionUno{
            h2{
                font-weight: 800;
                font-size: 2.8rem;
                text-align: left;
            }
        }
    }
    .sectionSuscripcionDos{
        article{
            div{
                width: 37.5rem;
                height: 18rem;
            }
        }
    }
    .sectionSuscripcionTres{
        h3{
            font-size: 1.8rem;
        }
        .articleSuscripcionTres{
            p{
                font-size: 1.2rem;
                width: 500px;
                padding-left: 40px;
            }
        }
    }
    .sectionSuscripcionCuatro{
        @include flexbox(flex, column-reverse, center, space-evenly, 2rem);
    }
    .sectionContactoUno{
        .formC{
            .inputCUno{
                @include inputContacto(30rem, 3.125rem, .3125rem);
            }
            .inputCDos{
                @include inputContacto(30rem, 3.125rem, .3125rem);
            }
        }
    }
    .sectionNosotrosUno{
        @include flexbox(flex, column, center, center, 30px);
        padding: 50px 0px;
        h2{
            padding-bottom: 0px;
        }
        .textoSB{
            margin: 0px;
        }
        img{
            display: none;
        }
    }
    .sectionNosotrosDos{
        .fondoNosotros{
            width: 700px;
            p{
                width: 660px;
            }
        }
        .imagen1Left{
            @include imgSBLeft(170px, absolute, 11.875rem, 18.2rem, -1.9rem);
            z-index: 10;
        }
        .imagen2Right{
            @include imgSBRight(150px, absolute, 9.6875rem, 16rem, 33rem);
        }
        .imagen3Right{
            @include imgSBRight(210px, absolute, 8.75rem, -2rem, 30.3rem);
        }
        .imagen4Right{
            @include imgSBRight(200px, absolute, 11.875rem, 6.5rem, 30.1rem);
        }
        .imagen5Left{
            @include imgSBLeft(230px, absolute, 9.6875rem, -6%, -1.5rem);
        }
        .imagen6Left{
            @include imgSBLeft(200px, absolute, 8.75rem, 8.5rem, -0.9rem);
        }
    }
    .articleLineupUno{
        p{
            font-size: 1rem;
        }
        button{
            width: 180px;
            font-size: 1rem;
        }
    }
    .sectionLineupUno{
        .imagenLineup{
            display: none;
        }
    }
    .sectionLineupDos{
        .articleAlfajores{
            width: 100%;
            .imgLineupDiferente1{
                width: 230px;
                height: auto;
                transform: translateY(-25px);
            }
            .pLineupDiferente{
                transform: translateY(-55px);
            }
        }
    }
    footer{
        article{
            .imgFooter img{
                width: 80px;
                margin: 0;
            }
            form{
                .inputFooterUno{
                    width: 270px;
                    font-size: 1rem;
                }
                .inputFooterDos{
                    width: 70px;
                    font-size: 1rem;
                }
            }
        }
    }
}
