@media(max-width: 320px){
    .sectionIndexUno{
        background-size: 200% contain;
        .articleUno{
            .titulos{
                h1{
                    font-size: 2.4rem;
                }
                .botonIndex{
                    font-size: .8rem;
                    padding: 15px 30px;
                }
            }
        }
    }
    .sectionDos{
        hr{
            width: 230px;
        }
        .galerias{
            .imgGaleria2{
                width: 150px;
                height: auto;
            }
        }
    }
    aside{
        gap: 20px;
        padding: 40px 20px;
        article{
            padding: 0px;
            .collapse{
                height: 320px;
                .reseñas{
                    width: 220px;
                }
            }
            div{
                width: 305px;
                gap: 0px;
                padding: 8px;
                p{
                    width: 397px;
                    margin-left: 5px;
                }
                .flechaIndex{
                    width: 60px;
                    padding: 0px;
                }
                img{
                    width: 70px;
                }
            }
        }
        button{
            font-size: 1rem;
            padding: 20px 22px;
        }
    }
    .sectionSuscripcionDos{
        .pSeparado{
            font-size: 0.9rem;
            padding: 15px;
        }
        article{
            div{
                width: 290px;
            }
        }
    }
    .sectionSuscripcionTres{
        h3{
            font-size: 1.5rem;
        }
        .articleSuscripcionTres{
            img{
                width: 140px;
                height: auto;
            };
            p{
                font-size: .9rem;
            }
        }
    }
    .sectionSuscripcionCuatro{
        padding: 0px;
        margin: 40px 0px 40px 0px;
        h3{
            font-size: 1.4rem;
            font-weight: 800;
        }
        img{
            width: 410px;
            height: auto;
            object-fit: contain;
            padding: 0px;
        }
    }
    .sectionSuscripcionCinco{
        img{
            width: 340px;
        }
        h3{
            font-size: 1.7rem;
        }
    }
    .sectionNosotrosUno{
        .textoSB{
            margin-left: 205px;
            p{
                width: 295px;
            }
        }
    }
    .sectionNosotrosDos{
        .fondoNosotros{
            height: 470px;
            width: 425px;
            p{
                width: 300px;
                margin-bottom: 0px;
            }
        }
        .imagen3Right{
            @include imgSBLeft(190px, absolute, 8.75rem, -1rem, 30.1rem);
            transform: rotate(8deg);
        }
        .imagen6Left{
            @include imgSBLeft(190px, absolute, 8.75rem, 9.1rem, 1rem);
            transform: rotate(8deg);
        }
    }
    footer{
        article{
            form{
                .inputFooterUno, .inputFooterDos{
                    width: 240px;
                }
            }
            
        }
    }
}