@media(max-width: 768px){
    .sectionIndexUno{
        img{
            display: none;
        }
        .articleUno{
            height: 350px;
            width: 100%;
            .titulos{
                padding-bottom: 20px;
                text-align: center;
                @include flexbox(flex, column, center, center, 0px);
                h1{
                    font-size: 45px;
                }
            }
        }
    }
    .sectionNosotrosUno{ 
        img{
        display: none;
        grid-column:unset;
        }
    }
    .inputCDos, .inputCUno{
        width: 500px;
    }
    aside{
        padding: 2.5rem;
        h2{
            font-size: 2rem;
        }
        article{
            flex-wrap: wrap;
            div{
                @include flexbox(flex, row, center, space-evenly, .625rem);
                width: 80%;
                height: 130px;
                padding: 20px;
                overflow-y: hidden;
                .flechaIndex{
                    display: block;
                }
                .reseñaHidden{
                    display: none;
                }
                .reseñaNormal{
                    display: none;
                }
                img{
                    object-fit: cover;
                    height: 100%;
                }
            }
        }
        button{
            width: 100%;
            font-size: 1.2rem;
        }
    }
    .sectionSuscripcionUno{
        .imagenSuscripcion{
            width: 28rem;
            height: 28rem;
        }
        .divSuscripcionUno{
            h2{
                font-weight: 800;
                font-size: 2.8rem;
                text-align: left;
            }
        }
    }
    .sectionSuscripcionDos{
        article{
            div{
                width: 37.5rem;
                height: 18rem;
            }
        }
    }
    .sectionSuscripcionTres{
        h3{
            font-size: 1.8rem;
        }
        .articleSuscripcionTres{
            p{
                font-size: 1.2rem;
                width: 500px;
                padding-left: 40px;
            }
        }
    }
    .sectionSuscripcionCuatro{
        @include flexbox(flex, column-reverse, center, space-evenly, 2rem);
    }
    .sectionContactoUno{
        .inputCUno{
            @include inputContacto(30rem, 3.125rem, .3125rem);
        }
    }
    footer{
        article{
            .imgFooter img{
                width: 80px;
                margin: 0;
            }
            form{
                .inputFooterUno{
                    width: 270px;
                    font-size: 1rem;
                }
                .inputFooterDos{
                    width: 70px;
                    font-size: 1rem;
                }
            }
        }
    }
}
