@media(max-width: 768px){
    .sectionIndexUno img{
        display: none;
    }
    .flechaIndex{
        display: block;
    }
    h1{
        font-size: 40px;
    }
    .articleUno{
        height: 100%;
        width: 100%;
    }
    .flechaDropdown{
        display: inline-block;
    }
    .reseñaHidden{
        display: none;
    }
    .sectionNosotrosUno img{
        display: none;
        grid-column:unset;
    }
    .inputCDos, .inputCUno{
        width: 500px;
    }
    aside{
        padding: 40px;
    }
    aside h2{
        font-size: 2rem;
    }
    .reseñas{
        flex-wrap: wrap;
    }
    .cadaReseña{
        @include flexbox(flex, row, center, space-evenly, .625rem);
        width: 80%;
        height: 130px;
        padding: 20px;
        overflow-y: hidden;
    }
    .reseñaHidden{
        display: block;
    }
    .reseñaNormal{
        display: none;
    }
    .cadaReseña img{
        object-fit: contain;
        min-width: 30%;
        min-height: 100%;
        border-radius: 100%;
    }
    aside .botonIndex{
        width: 100%;
        font-size: 1.2rem;
    }
    .imgFooter img{
        width: 80px;
        margin: 0;
    }
    .inputFooterUno{
        width: 270px;
        font-size: 1rem;
    }
    .inputFooterDos{
        width: 70px;
        font-size: 1rem;
    }
}
/*       FALTA ACOMODARRRR               */