/*            VARIABLES         */
$tipografia-unica: "Lato", serif;
/*              MAPAS             */
$colores:(

    color1: #fff5f5,
    color2: #FFFFFF,
    color3: #D9D9D9,
    color4: #DED3CD,
    color5: #C5CBDB,
    color6: #B49797,
    color7: #9F8383,
    color8: #7B6674,
    color9: #86707E,
    color10: #574964,
    color11: #000000,

);
// $tamañoT:(

//     sm: ,
//     md: 2rem,
//     bg: ,
//     md-titulo: ,
//     bg-titulo: ,

// )