header{
    background-color: map-get($colores, color10 );
    .navbar{
        padding: 0px;
        article{
            background-color: map-get($colores, color10 );
            img{
                height: 60px;
                width: auto;
                object-fit: contain;
            }
        }
        .navbar-nav{
            margin-left: 40px;
            gap: 30px;
            .nav-item{
                a{
                    color: map-get($colores, color3);
                }
            }
        }
    }
}
