.sectionIndexUno{
    @include flexbox(flex, row, center, center, 0rem);
    overflow-x: hidden;
    background-image: url(../assets/vista-desktop/pag-principal/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    article{
        background-color: rgba(255, 255, 255, 0.527);
        width: 673.06px;
        height: 500px;
        align-content: center;
        .titulos{
            padding-bottom: 20px;
            h1{
                font-weight: 600;
            }
            .botonIndex{
                @include botones(map-get($colores, color4 ), map-get($colores, color8 ), 3.0625rem, 1rem, 30px 80px 30px 80px);
                border: none;
                margin-left: 20px;
                font-weight: 700;
                cursor: pointer;
                box-shadow: 5px 10px 15px map-get($colores , color9 );
            }
        }
    }
}

.sectionDos {
    @include flexbox(flex, column, center, center, 2.5rem);
    padding: 30px;
}
aside{
    background-image: url(../assets/vista-desktop/pag-principal/fondo-reseñasf.png);
    background-size: cover;
    min-height: 690px; 
    @include flexbox(flex, column, center, center, 2.7rem);
    overflow-x: hidden;
    padding: 40px 0px;
    h2{
        color: map-get($colores, color4 );
        font-weight: 600;
        font-size: 2.4rem;
    }
    button{
        @include botones( map-get($colores, color4), map-get($colores, color10), 1.875rem, 1.4rem, 1.25rem);
        width: 37rem; 
    }
    article{
        @include flexbox(flex, row, center, center, 1rem);
        width: 100%;
        .collapse{
            height: 280px;
            .reseñas{
                text-align: left;
                width: 400px;
            }
        }
        div{
            background-color: map-get($colores, color1);
            width: 372px;
            height: 450px;
            justify-items: center;
            padding-top: 30px;
            .reseñaNormal{
                font-size: .8375rem;
                width: 300px;
                text-align: center;
                margin: 30px;
            }
            img{
                border-radius: 47px;
                width: 106px;
                height: 103px;
            }
            .flechaIndex{
                display: none;
            }
        }
    }
}