.sectionIndexUno{
    @include flexbox(flex, row, center, center, 0rem);
    background-image: url(../assets/vista-desktop/pag-principal/fondo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    article{
        background-color: rgba(255, 255, 255, 0.527);
        width: 673.06px;
        height: 500px;
        align-content: center;
        .titulos{
            padding-bottom: 20px;
            .botonIndex{
                @include botones(map-get($colores, color4 ), map-get($colores, color8 ), 3.0625rem, 1rem, 30px 80px 30px 80px);
                border: none;
                margin-left: 20px;
                font-weight: 700;
                cursor: pointer;
                box-shadow: 5px 10px 15px map-get($colores , color9 );
            }
        }
    }
}
.sectionDos {
    @include flexbox(flex, column, center, center, 2.5rem);
    padding: 30px;
    hr{
        width: 441.68px;
        border: 0.3px solid map-get($colores, color8 );
    }
    .galeria{
        display: flex;
        gap: 5%;
        justify-content: center;
        .imgGaleria1{
            width: 30%;
            height: 30%;
        }
        .imgGaleria2{
            @extend .imgGaleria1;
        }
    }
}
aside{
    background-image: url(../assets/vista-desktop/pag-principal/fondo-reseñasf.png);
    min-height: 690px; 
    @include flexbox(flex, column, center, center, 3rem);
    h2{
        color: map-get($colores, color4 );
        font-weight: 600;
        font-size: 2.4rem;
    }
    button{
        @include botones( map-get($colores, color4), map-get($colores, color10), 1.875rem, 1.4rem, 1.25rem);
        width: 37rem; 
    }
    article{
        @include flexbox(flex, row, center, center, 1rem);

        
/*             CORREGIR EN MEDIA QUERIEE               */



        width: 100%;
        div{
            background-color: map-get($colores, color1);
            width: 372px;
            height: 400px;
            justify-items: center;
            padding-top: 30px;
            p{
                font-size: .8375rem;
                width: 300px;
                text-align: center;
                margin: 30px;
            }
            img{
                border-radius: 47px;
                width: 106px;
                height: 103px;
            }
            .reseñaHidden{
                display: none;
            }
            .flechaIndex{
                display: none;
            }
        }
    }
}