.articleLineupUno{
    @include flexbox(flex, row, center, space-evenly, 0rem);
    background-color: map-get($colores, color6);
    color: map-get($colores, color2);
    height: 45px;
    font-size: 1.3rem;
    button{
        width: 294px;
        height: 32px;
        background-color: map-get($colores, color2 );
        color: map-get($colores, color6 );
        font-size: 1.2rem;
        font-weight: 500;
        border: none;
        border-radius: 15px;
    }
}
.sectionLySUno{
    display: grid;
    grid-template-columns: 50% 40%;
    gap: 80px;
    img{
        width: 43.75rem;
        height: 43.75rem;
        object-fit: contain;
    }
    article{
        @include flexbox(flex, column, center, center, 1.875rem);
        text-align: center;
        h2{
            font-weight: 800;
            font-size: 2rem;
        }
    }
}
.sectionLineupDos{
    @include flexbox(flex, column, center, center, 1.875rem);
    margin-top: 30px;
    h3{
        font-size: 1.6rem;
    }
    article{
        @include flexbox(flex, row, center, center, 2.5rem 1.25rem);
        flex-wrap: wrap;
        width: 70rem;
        text-align: center;
        div{
            background-color: map-get($colores, color3);
            width: 20rem;
            height: 12rem;
            object-fit: contain;
            img{
                width: 15.625rem;
                height: 10rem;
            }
        }
    }
}