.sectionNosotrosUno{
    display: grid;
    grid-template-columns: repeat(8, 180px);
    grid-template-rows: repeat(8, 80px);
    justify-items: center;
    justify-content: center;
    
    h2{
        font-weight: 600;
        padding-bottom: 80px;
        font-size: 3rem;
        grid-column: 2/5;
        grid-row: 2/4;
        align-self: center;
        color: map-get($colores, color7 );
    }
    .textoSB{
        font-size: 1rem;
        text-align: justify;
        width: 31.25rem;
        grid-column: 2/5;
        grid-row: 4/6;
        align-self: center;
    }
    img{
        width: 31.25rem;
        height: 34.375rem;
        grid-column: 5/8;
        grid-row: 1/5;
        object-fit: cover;
    }
}
.sectionNosotrosDos{
    background-image: url(../assets/vista-desktop/pag-sobrenosotros/fondo.png);
    background-color: map-get($colores, color10 );
    height: 36.5rem;
    display: grid;
    place-content: center;
    position: relative;
    overflow: hidden;
    div{
        background-color: map-get($colores, color5 );
        background-repeat: no-repeat;
        background-size: 100%;
        width: 72.3125rem;
        height: 25.875rem;
        display: grid;
        place-content: center;
        p{
            font-size: 1.5rem;
            text-align: center;
            width: 800px
        }
    }
    .imagen1Left{
        @include imgSBLeft(16.25rem, absolute, 11.875rem, -5%, 9rem);
        z-index: 10;
    }
    .imagen2Right{
        @include imgSBRight(18.6875rem, absolute, 9.6875rem, -6rem, 18.6rem);overflow-x: hidden;
    }
    .imagen3Right{
        @include imgSBRight(17rem, absolute, 8.75rem, -3rem, 29.5rem);
    }
    .imagen4Right{
        @include imgSBRight(16.25rem, absolute, 11.875rem, -5rem, 23rem);
    }
    .imagen5Left{
        @include imgSBLeft(18.6875rem, absolute, 9.6875rem, -6%, -1.5rem);
    }
    .imagen6Left{
        @include imgSBLeft(17rem, absolute, 8.75rem, -8%, 5.2rem);
    }
}