.sectionNosotrosUno{
    display: grid;
    grid-template-columns: repeat(8, 180px);
    grid-template-rows: repeat(8, 80px);
    justify-items: center;
    justify-content: center;
    h2{
        font-weight: 600;
        font-size: 3rem;
        grid-column: 2/5;
        grid-row: 2/4;
        align-self: center;
        color: map-get($colores, color7 );
    }
    p{
        font-size: 1rem;
        text-align: justify;
        width: 31.25rem;
        grid-column: 2/5;
        grid-row: 4/6;
        align-self: center;
    }
    img{
        max-width: 31.25rem;
        min-width: 16.25rem;
        height: 34.375rem;
        grid-column: 5/8;
        grid-row: 1/5;
        object-fit: cover;
    }
}
.sectionNosotrosDos{
    background-image: url(../assets/vista-desktop/pag-sobrenosotros/fondo.png);
    background-color: map-get($colores, color10 );
    height: 36.5rem;
    display: grid;
    place-content: center;
    div{
        background-color: map-get($colores, color5 );
        background-repeat: no-repeat;
        background-size: 100%;
        width: 1157px;
        height: 414px;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.5rem;
        text-align: center;
        display: grid;
        place-content: center;
    }
    .imagen1Left{
        @include imgSB(16.25rem, absolute, 11.875rem, -6%, 51rem);
        z-index: 10;
    }
    .imagen2Right{
        @include imgSB(18.6875rem, absolute, 9.6875rem, 73.2rem, 64rem);
    }
    .imagen3Right{
        @include imgSB(17rem, absolute, 8.75rem, 71rem, 70rem);
    }
    .imagen4Right{
        @include imgSB(16.25rem, absolute, 11.875rem, 73.5rem, 74rem);
    }
    .imagen5Left{
        @include imgSB(18.6875rem, absolute, 9.6875rem, -8%, 40.4rem);
    }
    .imagen6Left{
        @include imgSB(17rem, absolute, 8.75rem, -10%, 47rem);
    }
}