/*FALTA SECTION UNO*/
.imagenSuscripcion{
    width: 50rem;
    height: 40.9375rem;
    object-fit: cover;
}
.divSuscripcionUno{
    color: map-get($colores, color9 );
    font-weight: 700;
    align-self: flex-end;
    margin: 0px 0px 30px 70px;
    h2{
        font-weight: 800;
        font-size: 3.5rem;
        text-align: left;
    }
}
.sectionSuscripcionDos{
    background-color: map-get($colores, color10 );
    h3{
        color: map-get($colores, color3 );
        font-weight: 500;
        text-align: center;
        padding: 26px;
    }
    p{
        color: map-get($colores, color3);
        text-align: center;
        padding: 20px;
    }
    article{
        @include flexbox(flex, row, center, center, 1.25rem);
        flex-wrap: wrap;
        div{
            background-color: map-get($colores, color5 );
            width: 30rem;
            height: 18rem;
            @include flexbox(flex, column, center, center, .5rem);
            p{
                color: map-get($colores, color11 );
            }
        }
    }
}
.sectionSuscripcionTres h3{
    font-weight: 900;
    font-size: 2rem;
    margin: 50px 0px 20px 190px;
}
.articleSuscripcionTres{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: repeat(4, 200px);
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    img{
        width: 10.625rem;
        height: 9.375rem;
        background-color: map-get($colores, color9);
        border-radius: 40px;
        padding: 10px;
        margin-left: 160px;
    }
}
.sectionSuscripcionCuatro{
    @include flexbox(flex, row, center, space-evenly, 0rem);
    padding: 40px;
    h3{
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
    }
    img{
        width: 33rem;
        height: 25rem;
        background-color: map-get($colores, color10 );
        padding: 20px;
    }
}
.sectionSuscripcionCinco{
    @include flexbox(flex, column, center, center, 2.5rem);
    background-color: map-get($colores, color10 );
    padding-top: 30px;
    padding-bottom: 30px;
    h3{
        font-weight: 500;
        font-size: 2rem;
        color: map-get($colores, color3 );
    }
    img{
        width: 45rem;
        height: 16rem;
        object-fit: cover;
    }
}
.titulosS{
    text-align: center;
}