.inputFooterUno {
    @include inputFooter(25.9375rem,3.125rem,$tipografia-unica,1.25rem,map-get($colores, color2 ),none);
}
.inputFooterDos{
    @include inputFooter(9.0625rem, 3.125rem, $tipografia-unica, 1.25rem, map-get($colores, color2 ), none);
    background-color: map-get($colores, color8 );
    color: map-get($colores, color2 )
}
.inputCUno{
    @include inputContacto(26.25rem, 3.125rem, .3125rem);
}
.inputCDos{
    @include inputContacto(65rem, 3.125rem, .3125rem);
}
.inputCEnviar{
    @include inputContacto(18.75rem, 3.125rem, .625rem);
    background-color: map-get($colores, color10 );
    color: map-get($colores, color2 );
    font-size: 1.4rem;
}