.inputFooterUno{
    width: 415px;
    height: 50px;
    font-family: "Lato", serif;
    font-size: 20px;
    background-color: #FFFFFF;
    border: none;
}
.inputFooterDos{
    width: 145px;
    height: 50px;
    border: none;
    font-size: 1.25rem;
    font-family: "Lato", serif;
    color: #FFFFFF;
    background-color: #7B6674;
}
.inputCUno{
    width: 420px;
    height: 50px;
    border-radius: 5px;
}
.inputCDos{
    width: 1040px;
    height: 50px;
    border-radius: 5px;
}
.inputCEnviar{
    width: 300px;
    height: 50px;
    background-color: #574964;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 1.4rem;
}